.ion-padding {
   text-align: center;
    margin-top: 1%;
    font-size: 10vw;

  }
  @media screen and (min-width : 500px) {
    .ion-padding {
      font-size: 50px;
        
    }
  }
  
  .ion-padding strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .ion-padding p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .ion-padding a {
    text-decoration: none;
  }

  .greeting{
      position: absolute;
      top: 100px;
      right: 50%;
      text-align: center;
     font-size: large; 
  }

  .btn-circle-flat {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 60px;
    height: 60;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    cursor: pointer;
  }
  
  .btn-circle-flat:hover {
    background: #668ad8;
  }

  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    height: 95%;
    width: 95%;
  }

    .square2 {
    background: #fff;
    display: flex;
    justify-content: center;
    height: 20vh;
    padding: 0;
    width:30vw
  }
  @media screen and (min-width : 1024px) {
    .square2 {
      height: 20vh;
        
    }
  }
  @media screen and (min-width : 1800px) {
    .square2 {
      height: 20vh;
        
    }
  }
  .wrapper {
height: 1200px;
}
.child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  .inner{
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
  
  .square:focus {
    outline: none;

  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .text-center{
    text-align:center;
    font-size: 30px;
  }
  .round {
    width: 100px;
  }